@import "tailwindcss";

:root {
  font-family: 'Pretendard', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
